<app-dashboard></app-dashboard>

<div class="form">
	<div class="hearder-text">
		Connectez vous
	</div>

	<div class="inputs">
		<div class="input">
			<label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
			<input id="email1" type="text" [(ngModel)]="user.email" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
		</div>
		<div class="input">
			<label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
			<p-password id="password1"[(ngModel)]="user.password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
		</div>

		<div class="remember">
			<div class="check">
				<p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
				<label for="rememberme1">Remember me</label>
			</div>
			<a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
		</div>
		<button  style="width: 100%; background-color: #4274BF;border-radius: 10px;margin: 10px;"  (click)="login()" pButton pRipple label="SE CONNECTER" class="w-full p-3 text-xl" ></button>

		<div class="questions">
			<div class="bar"></div>
			Ou
			<div class="bar"></div>
		</div>
		<div class="link">
			Pas encore inscris ? <a href="/register">s’inscrire maintenant</a>
		</div>
	</div>
</div>
<app-footer></app-footer>
