<div class="header">
	<div class="logo">
		<div class="img-logo">
			<img width="50px"src="./../../../../assets/images/Group.png" alt="">
		</div>
		<div class="img-word">
			<img width="50px" src="./../../../../assets/images/Group-1.png" alt="">
		</div>
	</div>
	<img class="back" src="../../../../assets/images/home.jpeg" alt="">
</div>
<div class="content">
	<h3>
		Retrouvez facilement
vos biens de rêves
	</h3>
</div>
<button (click)="goToWebsite()"  class="btn btn-primary next btn-map">Découvrir</button>
