.hearder{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	button{
margin: 5px;
font-size: 20px;
	}
}
.side-header{
	background-color: #D2FBFD;
	width: 100%;
	padding: 5px 20px 5px 20px;
	h3{
		font-weight: bold;
	}
}
:host ::ng-deep .p-sidebar .p-sidebar-header {
	background-color: #D2FBFD;
	padding: 10px  !important;

}
:host ::ng-deep .p-sidebar .p-sidebar-content {
	padding: 0 !important;

}
.side-content{
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	button{
		width: 90%;
	}
}
.login{
	background: #4274BF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.insert-ann{
	background: #42B8BF

}
.service-list{
	margin-top: 30px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	gap: 10px;
}
.service{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}
